/* 
palette 

accent color #2196F3
primary text color #212121
secondary text color #757575 
white text #FFFFFF
primary features color #F5F4FA
footer address color: rgba(255, 255, 255, 0.6);
social links primary background: rgba(255, 255, 255, 0.1);
dev string color: rgba(255, 255, 255, 0.4);
backgroung for the features: #F5F4FA
background for the footer: #2F303A 
clients border colour: #AFB1B8 */

:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --text-on-the-button-color: #ffffff;
  --portfolio-body-nav-button-primary-color: #f5f4fa;
  --authors-string-color: rgba(255, 255, 255, 0.4);
  --clients-border-color: #afb1b8;
  --social-links-primary-bg-color: rgba(255, 255, 255, 0.1);
  --our-features-items-primary-color: #f5f4fa;
  --team-social-links-icon-primary-color: #afb1b8;
  --team-social-links-icon-hover-focus-color: #ffffff;
  --clients-icons-primary-color: #afb1b8;
}

.page {
  background-color: #ffffff;
  font-family: roboto, sans-serif;
}
.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid #212121; */
}

.display-block {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header  */

.logo-link {
  color: var(--primary-title-color);

  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
}
.logo-link > span,
.logo-link-footer {
  color: var(--accent-color);
}

.header-font {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
}

.header > .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 85px;
}

.site-nav > .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-title-color);

  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.header-nav .current::after {
  display: block;
  content: "";

  width: 100%;
  height: 4px;
  background-color: var(--accent-color);

  border-radius: 2px;

  transform: translate(0px, 32px);

  opacity: 1;

  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.auth-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav > .item + .item {
  margin-left: 30px;
}

.auth-nav .link,
main .text {
  color: var(--primary-text-color);
}

.auth-nav .link {
  display: inline-flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  /* background-color: red; */
}

.envelope-icon-sprite,
.smartphone-icon-sprite {
  fill: currentColor;

  margin-right: 10px;
}

.auth-nav > .item:hover,
.auth-nav > .item:focus {
  fill: #2196f3;
}

.auth-nav > .item {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .mail-icon:hover,
.auth-nav .phone-icon:hover,
.auth-nav .mail-icon:focus,
.auth-nav .phone-icon:focus {
  fill: inherit;
}

.auth-nav .mail-icon,
.auth-nav .phone-icon {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* main section */

main {
  color: var(--primary-title-color);
}

/* hero section */

.hero {
  text-align: center;
}

.hero .overlay {
  max-width: 1600px;
  height: 600px;
  background-color: black;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;

  padding-top: 200px;

  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 0;

  color: #ffffff;
  /* background-color: #2196f3; background is given only for preview */

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-transform: uppercase;
}

.button-hero {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;

  background-color: var(--accent-color);
  color: var(--text-on-the-button-color);
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  text-decoration: none;
}

.hero .around-button-hero {
  padding-top: 46px;
}

/* Our features */

/* .our-features {
  background-color: yellow;
} */

.our-features > h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.our-features .list {
  display: flex;
  justify-content: center;
}

.our-features .item {
  display: block;

  width: calc((100% - 90px) / 4);
}

.our-features .item + .item {
  margin-left: 30px;
}

.our-features > .container {
  padding-top: 94px;
  padding-bottom: 94px;

  /* background-color: blue; */
}

.our-features .interactive-pic {
  display: inline-flex;

  background-color: var(--our-features-items-primary-color);
  width: 270px;
  height: 120px;

  margin-bottom: 30px;

  border-radius: 4px;

  justify-content: center;
  align-items: center;
}

.our-features .title {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-transform: uppercase;
}

.our-features .text {
  margin-top: 0px;
  margin-bottom: 0px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* what-we-are-doing-section */

/* .our-job {
  background-color: tomato;
} */

/* .our-job > .container {
  background-color: teal;
} */

.heading {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-align: center;
}

.our-job > .container {
  width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;

  border-top: 1px solid #ececec;
}

.production {
  display: flex;
  justify-content: center;
}

.production > .item {
  position: relative;
  width: calc((100% - 60px) / 3);
}

.production > .item + .item {
  margin-left: 30px;
}

.production .title {
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--text-on-the-button-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-transform: uppercase;
}

.production .title-box {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

/* our-team */

.team {
  background-color: var(--portfolio-body-nav-button-primary-color);
}

.team .list {
  display: flex;
  justify-content: center;
}

.team-member-description {
  padding-top: 30px;
  padding-bottom: 24px;

  width: 270px;

  background-color: var(--text-on-the-button-color);

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team .name {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 270px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-align: center;
}

.team .item + .item {
  margin-left: 30px;
}

.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team .profession {
  margin-top: 10px;
  margin-bottom: 16px;
  width: 270px;

  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-align: center;
}

.team .card-shadow {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team .item:not(:first-child) {
  margin-left: 10px;
}

.team .instagram-icon,
.team .twitter-icon,
.team .facebook-icon,
.team .linkedin-icon {
  background-color: transparent;

  fill: var(--team-social-links-icon-primary-color);

  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team .instagram-icon:hover,
.team .instagram-icon:focus,
.team .twitter-icon:hover,
.team .twitter-icon:focus,
.team .facebook-icon:hover,
.team .facebook-icon:focus,
.team .linkedin-icon:hover,
.team .linkedin-icon:focus {
  background-color: var(--accent-color);

  fill: var(--team-social-links-icon-hover-focus-color);
}

.social-links .item {
  width: 44px;
  height: 44px;
  /* given to remove excessive 4 px */
}

/* clients */

/* .our-clients {
  background-color: tomato;
} */

.our-clients > .container {
  padding-top: 94px;
  padding-bottom: 94px;

  /* background-color: teal; */
}

.our-clients .list {
  display: flex;
  justify-content: space-between;
}

.our-clients .link {
  display: flex;
  justify-content: center;
  align-items: center;

  fill: inherit;

  width: 170px;
  height: 90px;

  border: 1px solid var(--clients-border-color);
  border-radius: 4px;

  cursor: pointer;

  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients .item {
  fill: var(--clients-icons-primary-color);

  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients .link:hover,
.our-clients .link:focus {
  border-color: var(--accent-color);
}

.our-clients .item:hover,
.our-clients .item:focus {
  fill: var(--accent-color);
}

/* footer */

.footer {
  background-color: #2f303a;
  padding-top: 48px;
}

.footer-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link-footer {
  color: var(--accent-color);

  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.logo-link-footer > span {
  color: #ffffff;
}

.address,
.social-links-title {
  color: var(--text-on-the-button-color);
}

.footer .address {
  margin-top: 0px;
  margin-bottom: 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer address {
  margin-top: 10px;
}

.contacts > .item {
  margin-top: 9px;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.footer .title {
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--text-on-the-button-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-transform: uppercase;

  margin-bottom: 21px;
}

.footer-form {
  display: flex;
}

.subscription-input {
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-size: 22px;
  color: #ffffff;
}

.subscription-input::placeholder {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  padding-left: 12px;

  color: rgba(255, 255, 255, 0.6);
}

.button-footer {
  display: flex;

  background-color: var(--accent-color);
  color: var(--text-on-the-button-color);
  padding: 10px 28px;
  min-width: 200px;
  margin-left: 12px;

  height: 50px;

  border: 0px solid var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 900;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  align-items: flex-end;
  align-self: flex-end;

  fill: #ffffff;
}

.portfolio-icon-send {
  margin-left: 10px;
}

.join-us .social-links {
  display: flex;
}

.instagram-icon,
.twitter-icon,
.facebook-icon,
.linkedin-icon {
  display: inline-flex;

  fill: var(--text-on-the-button-color);

  background-color: var(--social-links-primary-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;

  cursor: pointer;

  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us .instagram-icon:hover,
.join-us .instagram-icon:focus,
.join-us .twitter-icon:hover,
.join-us .twitter-icon:focus,
.join-us .facebook-icon:hover,
.join-us .facebook-icon:focus,
.join-us .linkedin-icon:hover,
.join-us .linkedin-icon:focus {
  border-radius: 50%;
  background-color: var(--accent-color);
}

.join-us .social-links li:not(:last-child) {
  margin-right: 11px;
}

.copyright {
  display: flex;
  justify-content: center;
  margin-top: 46px;

  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.authors {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 18px;
  padding-bottom: 21px;

  color: var(--authors-string-color);

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;

  text-align: center;
}

/* portfolio */

/* additional colors for portfolio
body-nav-button-primary-color #F5F4FA */

.portfolio {
  color: var(--primary-title-color);
}

.portfolio .filter-button {
  display: flex;
  justify-content: center;
  padding-top: 93px;
}

.filter-button > .item + .item {
  margin-left: 8px;
}

.portfolio .button-portfolio {
  color: var(--primary-title-color);
  background-color: var(--portfolio-body-nav-button-primary-color);
  min-width: 70px;

  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  text-align: center;

  cursor: pointer;

  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .button-portfolio:hover,
.portfolio .button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--text-on-the-button-color);

  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 34px;
  padding-bottom: 94px;
}

.preview-pic {
  display: block;
}

.preview-pic-box {
  position: relative;

  overflow: hidden;
}

.portfolio-preview .item {
  width: calc((100% - 60px) / 3);

  margin-bottom: 30px;
}

.portfolio-preview .item:not(:nth-child(3n + 1)) {
  margin-left: 30px;
}

.portfolio-preview .item:hover,
.portfolio-preview .item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-preview a {
  display: block;

  text-decoration: none;
}

.portfolio-preview .title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;

  color: var(--primary-title-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .description {
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio .item-text {
  position: absolute;
  left: 0;
  top: 100%;

  opacity: 0;

  display: flex;
  align-items: center;

  width: 100%;
  height: 294px;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(0);
}

.portfolio-preview .item:hover .item-text,
.portfolio-preview .item:focus .item-text {
  opacity: 1;

  transform: translateY(-100%);
}

.portfolio-preview .item-text {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-preview .text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--text-on-the-button-color);
}

.portfolio .caption {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;

  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
